<!-- ====================================== Date Time View ====================================== -->
<article class="view" id="timeView">
   <div class="toolbar">
      <span class="action icon-clock"></span>
      <span id="timeTitle" class="title">Select Time</span>
   </div>
   <div class="content time pad">
      <strong class="label">Hours</strong>
      <ul class="box list horizontal hours"></ul>

      <strong class="label">Minutes</strong>
      <ul class="box list horizontal minutes"></ul>


      <div class="left column text-center">
         <ul class="box pad list ampm">
            <li class="activable">AM</li>
            <li class="activable selected">PM</li>
         </ul>
      </div>

      <div class="right details text-center time-actions">
         <h1 class="timebox" id="timeBox"></h1>
         <div>
            <span data-action="ok" class="button inline primary icon-ok">OK</span>
            <span data-action="cancel" class="button inline icon-cancel">Cancel</span>
         </div>
      </div>

   </div>
   <script src="js/time.js"> </script>
</article>