/dist/
/nbproject/private/
/nbproject/
/node_modules/
/examples/kitchensink/cordova-app
/examples/starter/cordova-app
/examples/starter/node_modules/
/examples/starter/dist/
/examples/starter/.netbeans.xml
/examples/mobile-starter/node_modules/
/examples/mobile-starter/dist/