<div class="view" id="simpleListView">
    <div class="content">
        <h4 class="header"><span class="nav-trigger icon-th-list"></span> Simple List</h4>
        <div id="simpleList"></div>
    </div>
    <script type="text/javascript" defer>
        application.addRoute("/countries", {
            view: "#simpleListView",
            factory: function(app, viewUi) {
                var cListUi, countryList = [
                        "India", "United States", "United Kingdom", "Afghanistan", "Albania", "Algeria",
                        "American Samoa", "Andorra", "Angola", "Anguilla", "Antarctica", "Antigua and Barbuda", "Argentina",
                        "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh",
                        "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia",
                        "Bosnia and Herzegovina", "Botswana", "Bouvet Island", "Brazil", "British Indian Ocean Territory",
                        "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada",
                        "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China",
                        "Christmas Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo"];

                return {
                    initialize: function() {
                        cListUi = $("#simpleList").datalist({
                            data: countryList,
                            itemClass: "pad activable"
                        });
                    }
                };
            
            }
        });
    </script>
</div>