.tabstrip, .tab {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
.tabstrip {
   overflow: auto;
   margin: 0;
   padding: 0;
   width: 100%;
   border-bottom: 1px solid @selected-bg-color;
}

.tabstrip > .tab {
   list-style-type: none;
   display: table-cell;
   width: 1000px;
   min-height: 20px;
   padding: 13px 10px 10px;
   font-size: 0.9em;
   text-align: center;
}

.tabstrip > .tab.selected {
   border-bottom: 3px solid @selected-bg-color;
}

.tab-content {
   display: none;
}

.tab-content.active {
   display: block;
   background-color: @bg-color;
   
}
