@import "mojo.less";

@alternate-color: #00B8FC;

/* ------------------------------------------------ Framework Overrides -------------------------------------------- */
/*
.button, button, input[type="button"] {
   border-radius: 2px;
}
.list > li.selected {
   border-radius: 2px;
}
*/




html, body {
   font-family: Helvetica;
   margin: 0;
   padding: 0;
   font-size: 1em;
}

article, section, aside, div, img, p, h1, h2, h3, h4, h5, h6 {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

ul {
   margin: 0;
}

ul.horizontal {
   overflow: auto;
   list-style-type: none;
}
ul.horizontal li {
   float: left;
}

p {
   margin: 0;
}

.pad-vertical {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad-horizantal {
    padding-left: 10px;
    padding-right: 10px;
}
.pad-extra {
   padding: 15px;
}

img.activable {
   border: 3px solid transparent;
}
img.activable:active, img.activable.active {
   border-color: @selected-bg-color;
}

.large {
    font-size: 1.2em;
    font-weight: bold;
}
.small {
    font-size: 0.9em;
    font-weight: normal;
}

.selected-text {
   color: @selected-bg-color;
}
.active-text {
    color: @active-bg-color;
}

.panel {
   background-color: lighten(@bg-color, 2.5%);
   border: 1px solid darken(@bg-color, 6%);
}

/*
.alt-bg section > .header {
   background-color: darken(@alt-bg-color, 4%);
   font-weight: bold;
}
*/

/* ------------------------------------- Simple Meters -------------------------------------- */

.meter {
    background-color: darken(@alt-bg-color, 15%);
    /*box-shadow: 0 0 2px #000000 inset;*/
    overflow: auto;
    padding: 2px;
    position: relative;
}
.meter > .value {
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0;
    width: 0;
    /*border: 1px solid rgba(255,255,255,0.2);*/
    
    -moz-transition: width 700ms ease 50ms;
    -webkit-transition: width 700ms ease 50ms;
    -o-transition: width 700ms ease 50ms;
    -ms-transition: width 700ms ease 50ms;
    transition: width 700ms ease 50ms;
}


.view-transitioning {
   overflow: hidden;
}

/* 
 * Enable this if you don't want your views to jump after transitioning when previous or next views have
 * higher height values
 */
/*
.view-transitioning .view {
   height: 100%;
   overflow: hidden;
}
*/
/*
 * This hides elements with .transition-hide class while view is transitioning
 */
/*
.view-transitioning .transition-hide {
   display: none;
}
*/

.alt-bg input, .alt-bg textarea {
   background-color: transparent;
   border: none;
   /*border-bottom: 1px solid lighten(@alt-bg-color, 10%);*/
   color: @alt-text-color;
}

input[type=button].primary, button.primary, .button.primary {
   background-color: @alternate-color;
   color: @alt-text-color;
}

button.primary:active, .button.primary:active, .button.primary.active, button.primary.active {
   // background-color: lighten(@selected-bg-color-alt, 20%);
   background-color: darken(@alternate-color, 15%);
}

input[type=button].alt, button.alt, .button.alt {
   background-color: darken(@bg-color, 10%);
   border-color: darken(@bg-color, 15%);
   color: @text-color;
}
input[type=button].alt.active, button.alt.active, .button.alt.active {
   background-color: darken(@bg-color, 5%);
}

.success:active, input[type=button].success.active, button.success.active, .button.success.active {
   background-color: lighten(@success-color, 15%);
}

.error:active, input[type=button].error.active, button.error.active, .button.error.active {
   background-color: lighten(@error-color, 15%);
}
.warn:active, input[type=button].warn.active, button.warn.active, .button.warn.active {
   background-color: lighten(@warn-color, 15%);
}


/* Any list with pad class will actually pad all its items */
.list.pad, .list.pad-extra {
   padding: 0;
}
.list.pad > li {
   padding: 10px;
}
.list.pad-extra > li {
   padding: 15px 10px;
}

.form .header {
   background-color: darken(@bg-color, 7%);
   padding: 10px !important;
   margin: 0;
   color: @text-color;
   border: none;
   font-weight: bold;
   overflow: auto;
}

.no-separator > li, .alg-bg .no-separator li {
   border: none !important;
}

.list li .label {
   padding: 4px 4px 2px;
}

a.button {
   text-decoration: none;
}

.expandable.on > .trigger {
   // background-color: darken(@bg-color, 5%);
}

/* --------------------------------------- Css for ui messages --------------------------------------------- */
.messages {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   min-height: 30px;
   overflow: auto;

   z-index: 199;
   margin: 0;
   /*
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
   -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
   */
}
.messages > .message {
   font-size: 0.9em;
   margin: 0;
   padding: 7px;
   color: @alt-text-color;
}

.info {
   background-color: @info-color;
}
.info-text {
   color: darken(@info-color, 30%);
}
.success {
   background-color: @success-color;
   color: #fff;
}
.success-text {
   color: @success-color;
}
.error {
   background-color: @error-color;
   color: #fff;
}
.error-text {
   color: @error-color;
}
.warn {
   background-color: @warn-color;
   color: #fff;
}
.warn-text {
   color: @warn-color;
}
.indicate {
   background-color: @error-color;
}
.indicate-alt {
   color: @error-color;
}
.active {
    background-color: @active-bg-color;
    color: #fff;
}
.bordered {
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.tab-content {
   // padding: 10px;
}

/* --------------------------------------- Css for 'loading...' text --------------------------------------------- */
#loading {
   z-index: 399;
   width: 70%;
   margin: 0 15%;
   padding: 10px 0;

   position: fixed;
   bottom: 10%;
   left: 0;

   color: #fefefe;
   background-color: lighten(@alt-bg-color, 5%);
   border: 1px solid darken(@alt-bg-color, 5%);
   text-align: center;

   opacity: 0.65;
   /* box shadow causes slight mis-alignment of this control on view change */
   /*
   box-shadow: 0 0 5px darken(@alt-bg-color, 3%);
   -webkit-box-shadow: 0 0 5px darken(@alt-bg-color, 3%);
   */

   display: none;
}
#loading.show {
   display: block;
}



.page-actions {
   padding: 10px 0 0;
   margin: 10px 0 0;
}



/* --------------------------------------------- Main Menu --------------------------------------------------- */

.appmenu {
   position: fixed;
   left: 0;
   top: 0;
   width: 71%;
   min-height: 100%;
}
.viewport {
   background-color: @alt-bg-color;
   /*
    * Transform has bugs in chrome where the viewport will start shifting with swipes
    */
   -webkit-transition:  -webkit-transform 150ms ease;
   transition:          transform 150ms ease;
   
   /*
   -webkit-transition:  left 150ms ease;
   transition:          left 150ms ease;
   */
}
.reveal-appmenu .viewport {
   -webkit-transform: translateX(69%);
   transform: translateX(69%);
   
   // left: 69%;
   
   /*
   -webkit-box-shadow: 0 0 5px darken(@alt-bg-color, 10%);
   box-shadow: 0 0 10px darken(@alt-bg-color, 10%);
   */
   border-left: 1px solid darken(@alt-bg-color, 5%);
   height: 100%;
   overflow: hidden;
}
/*
 // transition of menu doesn't work in firefox if this is enabled
.reveal-appmenu {
   overflow-x: hidden;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
*/



/* ------------------------------------------------ View Toolbar -----------------------------------------------*/
.toolbar {
   overflow: auto;
   background-color: lighten(@alt-bg-color, 5%);

   background-image: linear-gradient(to bottom, lighten(@alt-bg-color, 5%), lighten(@alt-bg-color, 2%));

   color: @alt-text-color;
   border-bottom: 1px solid darken(@alt-bg-color, 4%);
   width: 100%;
}
.toolbar .title {
   color: lighten(@selected-bg-color, 20%);
   font-weight: bold;
   display: inline-block;
   padding: 13px 3px;
   /*
   background-image: url('../images/some-image.png');
   background-repeat: no-repeat;
   background-position: left center;
   */

}
.toolbar .action {
   /*
   text-shadow: 0 0 2px #111;
   -webkit-text-shadow: 0 0 2px #111;
   */
   display: inline-block;
   font-size: 1.1em;
   padding: 13px 10px;
   /* border-right: 1px solid lighten(@alt-bg-color, 9%); */
}

.toolbar .action.right {
   border: none;
   /* border-left: 1px solid lighten(@alt-bg-color, 9%); */
}

.toolbar .action.on {
   // background-color: lighten(@selected-bg-color, 10%);
   background-color: darken(@alt-bg-color, 4%);
}


/* -------------------------------------------- Collapsible ------------------------------------------------------- */
.alt-bg.menu, .alt-bg .menu {
   background-color: darken(@alt-bg-color, 4%);
}
.collapsed {
   height: 0;
   overflow: hidden;
}



/* --------------------------------------------- UI Toggle for list items ---------------------------------------- */
.list > li.toggle:after, .list > li.toggle.on:after {
   content: '\e813';
   font-family: 'mojo-icons';
   position: absolute;
   /*
   top: 15px;
   right: 15px;
   */
   color: darken(@bg-color, 10%);
   font-size: 1.6em;
}
.list > li.toggle.on:after {
   content: '\e812'; /* tick mark icon */
   color: @selected-bg-color-alt;
   /*right: 12px;*/
}

section {
   background-color: @bg-color;
   margin-bottom: 20px;
   overflow: auto;
}
section > header {
   overflow: auto;
   font-size: 1.3em;
   color: lighten(@text-color, 4%);
   border-bottom: 1px solid darken(@bg-color, 4%);
}


/* --------------------------------------- Map View ----------------------------------------- */

.google-map {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1; // to make it go underneath the toolbar
}



/* --------------------------------------- Additional Views ----------------------------------------- */

@import "calendar.less";
@import "time.less";


@import "layout-wide.less";


