<!-- ===================================== Calendar View ======================================== -->
<article class="view no-toolbar" id="calendarView">
   <section class="calendar">
      <div class="year-bar">
         <span data-action="prev" class="years-previous box activable left icon-left-open"></span>
         <ul class="left years horizontal no-separator years"></ul>
         <span data-action="next" class="years-next box activable right icon-right-open"></span>
      </div>
      <ul class="box alt-bg no-separator months"></ul>
      <ul class="box pad no-separator days"></ul>
      <ul class="box pad dates"></ul>
   </section>
   <section class="cal-actions text-center">
      <div class="left half pad">
         <span data-action="ok" class="button primary icon-ok">OK</span>
      </div>
      <div class="right half pad">
         <span data-action="cancel" class="button icon-cancel">Cancel</span>
      </div>
   </section>
   <script src="js/calendar.js"> </script>
   <script>
      // additional inline scripts
   </script>
</article>