<!-- ====================================== Tab View ========================================== -->
<article class="view" id="tabView">
   <!-- Sample IScroll style -->
   <!-- style scoped>
      #tabTwo {
         position: absolute;
         height: 82%;
         width: 100%;
         overflow: hidden;
         padding-bottom: 10px;
      }
      #tabView .tabstrip {
          border-bottom: 1px solid #222;
          box-shadow: 0 0 5px #222;
          -webkit-box-shadow: 0 0 5px #222;
      }
   </style -->
   <div class="toolbar">
      <span data-action="toggleMainMenu" class="activable action icon-menu"></span>
      <span class="title"> Main</span>

      <span data-action="route" 
            data-template="views/time.html" 
            data-path="/ui/time"
            class="activable action icon-clock right"></span>
      <span data-action="route" 
            data-template="views/calendar.html" 
            data-path="/ui/calendar"
            class="activable action icon-calendar-empty right"></span>
   </div>
   <div id="menuContainer" class="alt-bg menu collapsed">
      <ul class="list pad-extra no-separator" id="mainToolbarMenu">
         <li class="activable"><span class="icon-star"> Item</span></li>
         <li class="activable"><span class="icon-star"> Item</span></li>
         <li class="activable"><span class="icon-star"> Item</span></li>
      </ul>
   </div>

   <div class="content">
      <ul id="mainTab" class="tabstrip alt-bg">
         <li class="tab activable" data-ref="#tabOne"><span>Tab One</span></li>
         <li class="tab activable" data-ref="#tabTwo"><span>Tab Two</span></li>
         <li class="tab activable" data-ref="#tabThree"><span>Tab Three</span></li>
      </ul>
      <div>
         <div class="tab-content pad" id="tabOne">
            
            <ul id="toggles" class="list pad">
               <li>
                  Airplane Mode
                  <span class="widget toggle right">
                     <span class="thumb activable"></span>
                  </span>
               </li>
               <li>
                  WI-FI
                  <span class="widget toggle right">
                     <span class="thumb activable"></span>
                  </span>
               </li>
               <li>
                  Bluetooth
                  <span class="widget toggle right">
                     <span class="thumb activable"></span>
                  </span>
               </li>
               <li>
                  Mobile Data
                  <span class="widget toggle right">
                     <span class="thumb activable"></span>
                  </span>
               </li>
            </ul>
            
            <div class="slider">
               <div class="value"></div>
               <div class="thumb"></div>
            </div>
            
         </div>

         <div class="tab-content" id="tabTwo">
            <!-- Sample List -->
            <ul id="uiList" class="transition-hide"></ul>
         </div>

         <div class="tab-content pad" id="tabThree">
            <div id="expandPanel" class="panel expandable">
               <div class="trigger pad activable">
                   Tap To Expand
                   <span class="inline-box right icon-down-open"></span>
               </div>
               <div class="expandable-content pad">
                   <p class="pad" data-i18n="name.first"></p>
                   <p class="pad" data-i18n="name.last"></p>
                   <p class="pad" data-i18n="address.street"></p>
                   <p class="pad" data-i18n="address.pin"></p>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- List Item Template -->
   <script id="uiListItemTemplate" type="text/template">
      <div class="box pad">
         <p class="title">
            {title}
         </p>
         <p class="desc left">
            {description}
         </p>
      </div>
   </script>

   <script src="js/tabs.js"> </script>
   <script defer>
       
   </script>
</article>