@import "colors.less";


.rotate(@x: 0, @y: 0, @z: 0, @angle: 0deg) {
  -moz-transform: rotate3d(@x, @y, @z, @angle);
  -webkit-transform: rotate3d(@x, @y, @z, @angle);
  -o-transform: rotate3d(@x, @y, @z, @angle);
  transform: rotate3d(@x, @y, @z, @angle);
}

.scale(@x: 1, @y: 1, @z: 1) {
   -moz-transform: scale3d(@x, @y, @z);
   -webkit-transform: scale(@x, @y, @z);
   -o-transform: scale(@x, @y, @z);
   -ms-transform: scale(@x, @y, @z);
   transform: scale(@x, @y, @z);
}

.translate(@x: 0, @y: 0, @z: 0) {
   -moz-transform: translate(@x, @y);
   /**
    * In older webkits on android, this causes the whole page to jump up and down
    * when typing, in input fields
    */
   -webkit-transform: translate3d(@x, @y, @z);
   // -webkit-transform: translate(@x, @y);
   -o-transform: translate(@x, @y);
   -ms-transform: translate(@x, @y);
   transform: translate3d(@x, @y, @z);
}

.translateX(@x: 0) {
   -moz-transform: translateX(@x);
   // -webkit-transform: translateX(@x);
   -webkit-transform: translate3d(@x, 0, 0);
   -o-transform: translateX(@x);
   -ms-transform: translateX(@x);
   transform: translate3d(@x, 0, 0);
}

.translateNone, .transformNone {
   -moz-transform: none;
   -webkit-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}

.translateY(@y: 0) {
   -moz-transform: translateY(@y);
   -webkit-transform: translate3d(0, @y, 0);
   // -webkit-transform: translateY(@y);
   -o-transform: translateY(@y);
   -ms-transform: translateY(@y);
   transform: translate3d(0, @y, 0);
}

.scaleAndTranslate(@tx: 0, @ty: 0, @tz: 0, @sx: 1, @sy: 1) {
  -moz-transform: translate(@tx, @ty) scale(@sx, @sy);
  /**
   * In older webkits on android, this causes the whole page to jump up and down
   * when typing, in input fields
   */
  -webkit-transform: translate3d(@tx, @ty, @tz) scale(@sx, @sy);
  // -webkit-transform: translate(@x, @y) scale(@sx, @sy);
  -o-transform: translate(@tx, @ty) scale(@sx, @sy);
  -ms-transform: translate3d(@tx, @ty, @tz) scale(@sx, @sy);
  transform: translate3d(@tx, @ty, @tz) scale(@sx, @sy);
}

.transition-transform(@time: 200ms, @anim: ease, @delay: 0ms) {
   -moz-transition: -moz-transform @time @anim @delay;
   -webkit-transition: -webkit-transform @time @anim @delay;
   -o-transition: -o-transform @time @anim @delay;
   -ms-transition: -ms-transform @time @anim @delay;
   transition: transform @time @anim @delay;
}

.transition-prop(@prop, @time: 200ms, @anim: ease, @delay: 0ms) {
   -moz-transition: @prop @time @anim @delay;
   -webkit-transition: @prop @time @anim @delay;
   -o-transition: @prop @time @anim @delay;
   -ms-transition: @prop @time @anim @delay;
   transition: @prop @time @anim @delay;
}


a, img, button {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
   overflow-x: hidden;
   width: 100%;
   display: block;
}

.viewport {
   position: absolute;
   top: 0;
   left: 0;

   width: 100%;
   min-height: 100%;
   margin: 0;
   padding: 0;

   background-color: @bg-color;
   color: @text-color;
}

/* Currently unused since does not work consistently in firefox and firefox mobile */
.view-transitioning {
   height: 100%;
   overflow: hidden;
}


.view {
   position: absolute;
   left: 0;
   top: 0;

   width: 100%;
   min-height: 100%;
   
   will-change: transform;

   display: none;
   /* Avoid flickering in webkit browsers, thanks stackoverflow */
   // -webkit-perspective: 1000;
   -webkit-backface-visibility: hidden;
   background-color: @bg-color;
}


/* --------------------------- Android 5.1-ish transition for views ---------------------------- */

/*
.view {
   opacity: 0;
   .translate(0, 10%);
   -moz-transition: -moz-transform 300ms cubic-bezier(0.19, 1, 0.22, 1), opacity 200ms ease;
   -webkit-transition: -webkit-transform 300ms cubic-bezier(0.19, 1, 0.22, 1), opacity 200ms ease;
   -o-transition: -o-transform 300ms cubic-bezier(0.19, 1, 0.22, 1), opacity 200ms ease;
   -ms-transition: -ms-transform 300ms cubic-bezier(0.19, 1, 0.22, 1), opacity 200ms ease;
   transition: transform -transform 300ms cubic-bezier(0.19, 1, 0.22, 1), opacity 200ms ease;

   &.pop {
      .translate(0, 10%);
      opacity: 0;
   }

   &.showing {
      display: block;
   }
   &.in {
      // .translateY(0); Fixed position elements won't work with this
      .transformNone;
      opacity: 1;
   }

   &.showing.in {
     z-index: 99;
   }

   &.showing.pop {
     z-index: 99;
   }

   &.stack {
     // .transition-transform(300ms, cubic-bezier(0.19, 1, 0.22, 1));
     .translate(0, -1%);
     opacity: 1;
   }
}
*/

/* ---------------------------- Slide transition for views ---------------------------- */

// /*
.view {
   .translate(100%);
   // .transition-transform;
   .transition-transform(600ms, cubic-bezier(0.19, 1, 0.22, 1));
   
   /*
   &.pop {
      .translate(100%);
   }
   */

   &.showing {
      z-index: 99;
      display: block;
   }
   &.in {
      // .translateX(0); Fixed position elements won't work with this
      .translateNone;
   }
   &.stack {
      z-index: 98;
      .translate(-60%);
      //.transition-transform(350ms, ease);
      .transition-transform(750ms, cubic-bezier(0.19, 1, 0.22, 1));
   }
}
// */


/* -------------------- Another fancy transition slide and scale ----------------------------- */
/*
.view {
   .scaleAndTranslate(100%);
   .transition-transform(600ms, cubic-bezier(0.19, 1, 0.22, 1));

   &.pop {
      .translate(100%);
   }

   &.showing {
      z-index: 99;
      display: block;
   }
   &.in {
      .translateNone;
   }
   &.stack {
      z-index: 98;
      .scaleAndTranslate(-70%, 0, 0, 0.8, 0.8);
      .transition-transform(750ms, cubic-bezier(0.19, 1, 0.22, 1));
   }
}
*/



/*
.view {
   opacity: 0;

   -moz-transition: opacity 250ms ease;
   -webkit-transition: opacity 250ms ease;
   -o-transition: opacity 250ms ease;
   -ms-transition: opacity 250ms ease;
   transition: opacity 250ms ease;

    &.pop {
       opacity: 0;
   }

   &.showing {
      z-index: 99;
      display: block;
   }
   &.in {
      opacity: 1;
   }
}
*/



/*
Alternate Android2.3.x-like transition effect for views. Beta!
*/
/*
.view {
   .scale(1.05, 1.05);
   opacity: 0;

   .transition-transform(300ms);

   &.in {
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none;
      transform: none;
      opacity: 1;
   }

   &.showing {
      z-index: 99;
      display: block;
   }

   &.stack {
      -moz-transform: scale(0.95, 0.95);
      -webkit-transform: scale(0.95, 0.95);
      -o-transform: scale(0.95, 0.95);
      transform: scale(0.95, 0.95);
      opacity: 0;
   }

   &.pop {
      opacity: 0;
   }
}
*/
