@import "colors.less";


.rotate(@x: 0, @y: 0, @z: 0, @angle: 0deg) {
  -moz-transform: rotate3d(@x, @y, @z, @angle);
  -webkit-transform: rotate3d(@x, @y, @z, @angle);
  -o-transform: rotate3d(@x, @y, @z, @angle);
  transform: rotate3d(@x, @y, @z, @angle);
}

.scale(@x: 1, @y: 1, @z: 1) {
   -moz-transform: scale3d(@x, @y, @z);
   -webkit-transform: scale(@x, @y, @z);
   -o-transform: scale(@x, @y, @z);
   -ms-transform: scale(@x, @y, @z);
   transform: scale(@x, @y, @z);
}

.translate(@x: 0, @y: 0, @z: 0) {
   -moz-transform: translate(@x, @y);
   /**
    * In older webkits on android, this causes the whole page to jump up and down
    * when typing, in input fields
    */
   -webkit-transform: translate3d(@x, @y, @z);
   // -webkit-transform: translate(@x, @y);
   -o-transform: translate(@x, @y);
   transform: translate3d(@x, @y, @z);
}

.translateX(@x: 0) {
   -moz-transform: translateX(@x);
   // -webkit-transform: translateX(@x);
   -webkit-transform: translate3d(@x, 0, 0);
   -o-transform: translateX(@x);
   transform: translate3d(@x, 0, 0);
}

.translateNone, .transformNone {
   -moz-transform: none;
   -webkit-transform: none;
   -o-transform: none;
   transform: none;
}

.translateY(@y: 0) {
   -moz-transform: translateY(@y);
   -webkit-transform: translate3d(0, @y, 0);
   // -webkit-transform: translateY(@y);
   -o-transform: translateY(@y);
   transform: translate3d(0, @y, 0);
}

.transition-transform(@time: 200ms, @anim: ease, @delay: 0ms) {
   -moz-transition: -moz-transform @time @anim @delay;
   -webkit-transition: -webkit-transform @time @anim @delay;
   -o-transition: -o-transform @time @anim @delay;
   -ms-transition: -ms-transform @time @anim @delay;
   transition: transform @time @anim @delay;
}


a, img, button {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
   overflow-x: hidden;
   width: 100%;
   display: block;
}

.viewport {
   position: absolute;
   top: 0;
   left: 0;

   width: 100%;
   min-height: 100%;
   margin: 0;
   padding: 0;

   background-color: @bg-color;
   color: @text-color;
}

/* Currently unused since does not work consistently in firefox and firefox mobile */
.view-transitioning {
   height: 100%;
   overflow: hidden;
}


.view {
   position: absolute;
   left: 0;
   top: 0;

   width: 100%;
   min-height: 100%;
   
   will-change: transform;

   display: none;
   /* Avoid flickering in webkit browsers, thanks stackoverflow */
   // -webkit-perspective: 1000;
   -webkit-backface-visibility: hidden;
   background-color: @bg-color;
}


/* --------------------------- Simple transition for views ---------------------------- */

.view {
   .translate(0, 10%);
   // .transition-transform;
   .transition-transform(550ms, cubic-bezier(0.19, 1, 0.22, 1));
   
   &.pop {
     .transition-transform(300ms, cubic-bezier(0.19, 1, 0.22, 1));
      //  .translate(0, -10%);
      .translate(0, 100%);
   }

   &.showing {
      display: block;
   }
   &.in {
      // .translateX(0); Fixed position elements won't work with this
      .translateNone;
   }
   
   &.showing.in {
     z-index: 99;
   }
   
   &.showing.pop {
     z-index: 99;
   }
   
   &.stack {
     // z-index: 98;
     // .translate(0, 10%);
     // .translate(0, -10%);
     .scale(0.9, 0.9);
     //.transition-transform(350ms, ease);
     .transition-transform(400ms, cubic-bezier(0.19, 1, 0.22, 1));
   }
}

/* ---------------------------- Slide transition for views ---------------------------- */

/*
.view {
   .translate(100%);
   // .transition-transform;
   .transition-transform(450ms, cubic-bezier(0.19, 1, 0.22, 1));
   
   &.pop {
      .translate(100%);
   }

   &.showing {
      z-index: 99;
      display: block;
   }
   &.in {
      // .translateX(0); Fixed position elements won't work with this
      .translateNone;
   }
   &.stack {
      z-index: 98;
      .translate(-60%);
      //.transition-transform(350ms, ease);
      .transition-transform(700ms, cubic-bezier(0.19, 1, 0.22, 1));
   }
}
*/



/*
.view {
   opacity: 0;

   -moz-transition: opacity 250ms ease;
   -webkit-transition: opacity 250ms ease;
   -o-transition: opacity 250ms ease;
   -ms-transition: opacity 250ms ease;
   transition: opacity 250ms ease;

    &.pop {
       opacity: 0;
   }

   &.showing {
      z-index: 99;
      display: block;
   }
   &.in {
      opacity: 1;
   }
}
*/



/*
Alternate Android2.3.x-like transition effect for views. Beta!
*/
/*
.view {
   .scale(1.05, 1.05);
   opacity: 0;

   .transition-transform(300ms);

   &.in {
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none;
      transform: none;
      opacity: 1;
   }

   &.showing {
      z-index: 99;
      display: block;
   }

   &.stack {
      -moz-transform: scale(0.95, 0.95);
      -webkit-transform: scale(0.95, 0.95);
      -o-transform: scale(0.95, 0.95);
      transform: scale(0.95, 0.95);
      opacity: 0;
   }

   &.pop {
      opacity: 0;
   }
}
*/



/* Slightly different transition effect */
/*
.transition {
   -moz-transition: -moz-trasform 450ms cubic-bezier(0.23,1,0.32,1) 10ms;
   -webkit-transition: -webkit-trasform 450ms cubic-bezier(0.23,1,0.32,1) 10ms;
   transition: trasform 450ms ease;
}
*/
