.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}
.border-radius(@tl: 0, @tr: 0, @bl: 0, @br: 0) {
   border-radius: @arguments;
   -webkit-border-radius: @arguments;
}
.border-radius(@r: 0) {
   border-radius: @r;
   -webkit-border-radius: @r;
}

body {
   color: @text-color;
   font-size: 1.1em;
}

section > header, .header {
   font-weight: bold;
   margin: 0;
   margin-bottom: 5px;
   padding: 12px;
   border-bottom: 2px solid @selected-bg-color;
   color: darken(@selected-bg-color, 10%);
}

/* ----------------------------------------------- Form ----------------------------------------- */

label {
   padding: 10px;
   padding-left: 0;
}

fieldset {
   border: none;
   background: transparent;
}

textarea {
    resize: vertical;
    min-height: 90px;
    padding: 5px;
}
.field, input, select {
   display: inline-block;
   
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   
   padding:10px 5px;
   border: 1px solid darken(@bg-color, 10%);
   /*-webkit-appearance: caret;*/
   width: 100%;
   margin: 2px 0;
}

input[type=range] {

}

input[type=button], button, .button {
   display: inline-block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   
   margin: 2px 0;
   
   background-color: darken(@selected-bg-color, 5%);
   color: @alt-text-color;
   border: 1px solid lighten(@selected-bg-color, 10%);
   padding: 10px;
   text-align: center;
   
   border-radius: 2px;
   
   /*
   -webkit-box-shadow: 0 0 3px darken(@selected-bg-color, 10%);
   box-shadow: 0 0 3px darken(@selected-bg-color, 10%);
   */
   
   width: 100%;
}
button:active, .button:active, .button.active, button.active {
   background-color: @active-bg-color;
   border: 1px solid darken(@active-bg-color, 7%);
   /*
   -webkit-box-shadow: 0 0 3px darken(@active-bg-color, 35%);
   box-shadow: 0 0 3px darken(@active-bg-color, 35%);
   */
}

input.inline, input[type=button], button.inline, .button.inline, select.inline {
   width: auto;
}

select {
   background: transparent;
   -webkit-appearance: none;
   -moz-appearance: statusbar;
   border: none;
}
option {
   padding: 5px;
}


/* -------------------------------------- Other ------------------------------------------------ */

.box, .inline-box {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.expand {
   overflow: auto;
}
.inline-box {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.activable {
    cursor: pointer;
}
.activable:active, .activable.active {
   background-color: @active-bg-color;
}
.left {float: left;}
.right {float: right;}
.first {clear: left;}
.clear {clear: both;}
.half {width: 50%;}
.hidden {display: none;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.tiny, .hint {font-size: 0.75em;}
.pad {padding: 10px;}
.selected {
   background-color: @selected-bg-color;
   color: @selected-text-color;
}