// default theme (gray blue)
@base-color: #f4f4f4;
// Background color for viewport views and other boxes
@bg-color: #eee;
// Background color for overlays, inlays etc.
@alt-bg-color: #2c2c2c;
// Text color to complement the background color
@text-color: #303030;
// Text color to complement alternate background color
@alt-text-color: #f4f4f4;
// Active background color, when an element becomes active i.e. :active class
@active-bg-color: #93cff2;
@active-text-color: #fff;
// Default selected background color
@selected-bg-color: #0099cc;
// Default selected text color
@selected-text-color: #fff;



// Red theme
@base-color: #f4f4f4;
// Background color for viewport views and other boxes
@bg-color: #eee;
// Background color for overlays, inlays etc.
@alt-bg-color: #2c2c2c;
// Text color to complement the background color
@text-color: #303030;
// Text color to complement alternate background color
@alt-text-color: #f4f4f4;
// Default selected background color
@selected-bg-color: #B84126;
// Active background color, when an element becomes active i.e. :active class
@active-bg-color: lighten(@selected-bg-color, 10%);
@active-text-color: #303030;
// Default selected text color
@selected-text-color: #f0f0f0;


/*
// mint theme (green)
@base-color: #f0f0f0;
// Background color for viewport views and other boxes
@bg-color: #eee;
// Background color for overlays, inlays etc.
@alt-bg-color: #2c2c2c;
// Text color to complement the background color
@text-color: #303030;
// Text color to complement alternate background color
@alt-text-color: #f4f4f4;
// Active background color, when an element becomes active i.e. :active class
@active-bg-color: #CEF263;
@active-text-color: #303030;
// Default selected background color
@selected-bg-color: #99CC00;
// Default selected text color
@selected-text-color: #fff;


// Android theme
@base-color: #333;
// Background color for viewport views and other boxes
@bg-color: #434343;
// Background color for overlays, inlays etc.
@alt-bg-color: #f1f1f1;
// Text color to complement the background color
@text-color: #f4f4f4;
// Text color to complement alternate background color
@alt-text-color: #333;
// Active background color, when an element becomes active i.e. :active class
@active-bg-color: #F7E596;
@active-text-color: #222;
// Default selected background color
@selected-bg-color: #F2D44D;
// Default selected text color
@selected-text-color: #222;

*/

html, body {
    background-color: @base-color;
}


.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}
.border-radius(@tl: 0, @tr: 0, @bl: 0, @br: 0) {
   border-radius: @arguments;
   -webkit-border-radius: @arguments;
}
.border-radius(@r: 0) {
   border-radius: @r;
   -webkit-border-radius: @r;
}

.box, .inline-box {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inline-box {
    display: inline-block;
}


.left {
   float: left;
}
.right {
   float: right;
}
.block {
   display: block;
}
.inline-block {
   display: inline-block;
}
.center {
   text-align: center;
}
.row {
   min-height: 24px;
   padding: 9px 5px;
   border: 1px solid transparent;
   border-bottom: 1px solid darken(@bg-color, 5%);
   overflow: auto;
   color: @text-color;
}


.view {
   background-color: @bg-color;
   color: @text-color;
}
.overlay {
   background-color: @alt-bg-color;
   color: @alt-text-color;
   border-top: lighten(@alt-bg-color, 10%);
}



section {
   /** background-color: @base-color;*/
}
section, header {
   display: block;
}
section > header, .header {
   color: @text-color;
   font-weight: bold;
   margin: 0;
   margin-bottom: 5px;
   padding: 12px;
   border-bottom: 2px solid @selected-bg-color;
   color: @selected-bg-color;
}

/* ----------------------------------------------- Form ----------------------------------------- */

fieldset {
   border: none;
   background: transparent;
}

input[type=text], input[type=password], input[type=number], 
      input[type=email], input[type=url], input[type=date] {
   display: inline-block;
   border: none;
   font-size: 15px;
   -webkit-appearance:caret;
   width: 100%;
}

input[type=range] {

}

button, .button {
   display: inline-block;
   border: none;
   background-color: darken(@bg-color, 20%);
   font-size: 14px;
   padding-top: 10px;
   padding-bottom: 10px;
   .border-radius(3px);

   text-align: center;
}
button:active, .button:active {
   .box-shadow(0px 0px 2px #006E8C);
   background-color: @active-bg-color;
}
.trigger:active {
    background-color: @active-bg-color;
}
select {
   background: transparent;
   -webkit-appearance: none;
   -moz-appearance: statusbar;
   border: none;
}
option {
   padding: 5px;
}

.row select, select.row {
   display: inline-block;
   width: 100%;
}



