@alert-color: #9E5B5A;
@error-color: #D66B55;
@success-color: #94B75F;
@warn-color: #F79204;
@info-color: #007BD3;
@invalid-color: #9B2D2D;


/* Default theme (gray blue) */
@base-color: #f7f7f7;
// Background color for viewport views and other boxes
@bg-color: #f0f0f0;
// Background color for overlays, inlays etc.
@alt-bg-color: #373737;
// Text color to complement the background color
@text-color: #666;
// Text color to complement alternate background color
@alt-text-color: #eee;
// Default selected background color
@selected-bg-color: #1CA3CE; /*#3395C2;*/
@selected-bg-color-alt: #3395C2;
// Active background color, when an element becomes active i.e. :active class
@active-bg-color: #93cff2;
@active-text-color: #666;
// Default selected text color
@selected-text-color: #fff;

@primary-action-color: darken(#3395C2, 10%); //#F71875;  //magenta red
@primary-text-color: #fff;
@secondary-action-color: lighten(@alt-bg-color, 10%);
@secondary-text-color: darken(@alt-bg-color, 10%);

/* Red theme */
/*
@base-color: #f4f4f4;
// Background color for viewport views and other boxes
@bg-color: #dcdcdc;
// Background color for overlays, inlays etc.
@alt-bg-color: #2c2c2c;
// Text color to complement the background color
@text-color: #484848;
// Text color to complement alternate background color
@alt-text-color: #f0f0f0;
// Default selected background color
@selected-bg-color: #B84126;
@selected-bg-color-alt: #c95237;
// Active background color, when an element becomes active i.e. :active class
@active-bg-color: lighten(@selected-bg-color, 10%);
@active-text-color: #303030;
// Default selected text color
@selected-text-color: #f0f0f0;
*/


/* Mint theme (green) */
@base-color: #f0f0f0;
// Background color for viewport views and other boxes
@bg-color: #eee;
// Background color for overlays, inlays etc.
@alt-bg-color: #2c2c2c;
// Text color to complement the background color
@text-color: #404040;
// Text color to complement alternate background color
@alt-text-color: #f4f4f4;
// Active background color, when an element becomes active i.e. :active class
@active-bg-color: #A6CE39;
@active-text-color: #303030;
// Default selected background color
@selected-bg-color: #779F16;
@selected-bg-color-alt: #779F16;
// Default selected text color
@selected-text-color: #fff;

/* Android theme */
/*
@base-color: #333;
// Background color for viewport views and other boxes
@bg-color: #333;
// Background color for overlays, inlays etc.
@alt-bg-color: #222;
// Text color to complement the background color
@text-color: #f4f4f4;
// Text color to complement alternate background color
@alt-text-color: #bbb;
// Active background color, when an element becomes active i.e. :active class
@active-bg-color: #F7C53D;
@active-text-color: #222;
// Default selected background color
@selected-bg-color: #F7C53D;
@selected-bg-color-alt: #FFA100;
// Default selected text color
@selected-text-color: #222;
*/

/* Origin theme */
/*
@base-color: #A6A6A6;
// Background color for viewport views and other boxes
@bg-color: #F2F2F2;
// Background color for overlays, inlays etc.
@alt-bg-color: #3F3B39; //#414141;
// Text color to complement the background color
@text-color: #424242;
// Text color to complement alternate background color
@alt-text-color: #FFFFFF;
// Default selected background color
@selected-bg-color: #F46A1A; //#DE6300;
@selected-bg-color-alt: #ef8511;
// Default selected text color
@selected-text-color: #fff;
// Active background color, when an element becomes active i.e. :active class
@active-bg-color: darken(@bg-color, 5%); // #Fdbc66;
@active-text-color: #333;
*/



