.list {
   margin: 0;
   padding: 0;
   overflow: auto;
}
.list > li {
   list-style-type: none;
   border: 1px solid transparent;
   border-bottom: 1px solid darken(@bg-color, 4%);
   overflow: auto;
   position: relative;
}

.list > li.selected {
   background-color: @selected-bg-color-alt;
   background-image: linear-gradient(to bottom, @selected-bg-color-alt, darken(@selected-bg-color-alt, 3%));
}

.alt-bg .list li, .list.alt-bg li {
   border-bottom-color: darken(@alt-bg-color, 3%);
}

.list > li .title, .list > li .desc, .list > li p {
   margin: 0;
   padding: 2px 5px;
}
.list .title {
   font-weight: bold;
   font-size: 0.9em;
}
.list .desc {
   font-size: 0.7em;
}