.list, .rich-list {
   margin: 0;
   padding: 0;
}
.list > li, .rich-list > li {
   list-style-type: none;
   padding: 15px 10px;
   border: 1px solid transparent;
   border-bottom: 1px solid darken(@bg-color, 4%);
   overflow: auto;
}

.rich-list > li {
   padding: 10px;
}

.rich-list .label, .list .label, .rich-list .desc, .list .desc {
   margin: 0;
   padding: 0 5px;
}
.rich-list .label {
   font-weight: bold;
   font-size: 0.9em;
}
.rich-list .desc, .list .desc {
   font-size: 0.8em;
}

.list > li.selected {
   background-color: @selected-bg-color;
   border-color: darken(@selected-bg-color, 3%);
   color: @selected-text-color;
}

.list select {
   display: inline-block;
   width: 100%;
}