.widget.switch {
   position: relative;
   display: inline-block;
   min-width: 60px;
   background-color: darken(@bg-color, 5%);
   height: 32px;
   overflow: hidden;
   border: 1px solid rgba(0,0,0,0.1);
   border-radius: 30px;
   
   .border-box;
   
   > .thumb {
        .border-box;
        width: 28px;
        position: absolute;
        height: 28px;
        display: block;
        // background-color: darken(@bg-color, 2%);
        background-color: lighten(@bg-color, 2%);
        border-radius: 50%;
        
        left: 1px;
        top: 1px;
        
        // will-change: left;
        will-change: transform;
        .transition-transform(300ms);
        
        border: 1px solid rgba(0,0,0,0.11);
        // border: 10px solid desaturate(lighten(@selected-bg-color, 10%), 15%);
        // border-radius: 40px;
        // box-shadow: 0 0 5px rgba(0,0,0,0.2);
   }
   
   &[data-on] {
      background-color: darken(@selected-bg-color, 10%);
      color: @selected-text-color;
      //border-color: @selected-bg-color;
      
      > .thumb {
         // left: 45%;
         // border-color: @selected-bg-color;
         .translateX(27px);
      }
   }
   

}





/*
.slider {
   position: relative;
   height: 5px;
   background-color: darken(@bg-color, 10%);
   border: 1px solid darken(@bg-color, 20%);
}
.slider > .value {
   height: 5px;
   width: 0;
   background-color: @selected-bg-color;
}
.slider > .thumb {
   display: block;
   position: absolute;
   transition: left 100ms ease;
   left: 0;
   right: 45%;
   top: -11px;
   width: 25px;
   height: 25px;
   background-color: lighten(@bg-color, 2%);
   border: 1px solid darken(@bg-color, 10%);
   border-radius: 30px;
}
.slider > .thumb.active {
   background-color: @active-bg-color;
   border: 1px solid darken(@active-bg-color, 10%);
}
.slider.horizontal > .thumb {
   height: 30px;
}
*/





.expandable {
   > .expandable-content {
       display: none;
       overflow: auto;
   }
   
   &.on {
       > .expandable-content {
           display: block;
       }
   }
}




.progress {
    background-color: darken(@alt-bg-color, 15%);
    /*box-shadow: 0 0 2px #000000 inset;*/
    overflow: auto;
    padding: 2px;
    position: relative;
    
    > .value {
        height: 4px;
        left: 0px;
        position: absolute;
        top: 0;
        width: 0;
        /*border: 1px solid rgba(255,255,255,0.2);*/

        -moz-transition: width 700ms ease 50ms;
        -webkit-transition: width 700ms ease 50ms;
        -o-transition: width 700ms ease 50ms;
        -ms-transition: width 700ms ease 50ms;
        transition: width 700ms ease 50ms;
    }
}
