.widget.toggle, .widget.toggle > .thumb {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
.widget.toggle {
   position: relative;
   display: inline-block;
   width: 50px;
   background-color: darken(@bg-color, 5%);
   height: 2.4em;
   border: 1px solid darken(@bg-color, 10%);
}
.widget.toggle.on {
   background-color: @selected-bg-color;
   color: @selected-text-color;
   border-color: @selected-bg-color;
}
.widget.toggle > .thumb {
   width: 70%;
   position: absolute;
   height: 100%;
   display: block;
   background-color: lighten(@bg-color, 2%);
   left: 0;
   transition: left 100ms ease;
   border: 1px solid darken(@bg-color, 10%);
   
}

.widget.toggle.on > .thumb {
   left: 30%;
   border-color: @selected-bg-color;
   // background-color: darken(@bg-color, 3%);
}


.slider {
   position: relative;
   height: 5px;
   background-color: darken(@bg-color, 10%);
   border: 1px solid darken(@bg-color, 20%);
}
.slider > .value {
   height: 5px;
   width: 0;
   background-color: @selected-bg-color;
}
.slider > .thumb {
   display: block;
   position: absolute;
   transition: left 100ms ease;
   left: 0;
   right: 45%;
   top: -11px;
   width: 25px;
   height: 25px;
   background-color: lighten(@bg-color, 2%);
   border: 1px solid darken(@bg-color, 10%);
   border-radius: 30px;
}
.slider > .thumb.active {
   background-color: @active-bg-color;
   border: 1px solid darken(@active-bg-color, 10%);
}
.slider.horizontal > .thumb {
   height: 30px;
}





.expandable {
   
}
.expandable > .expandable-content {
   display: none;
   overflow: auto;
}
.expandable.on {
}
.expandable.on > .expandable-content {
   display: block;
}




.progress {
    background-color: darken(@alt-bg-color, 15%);
    /*box-shadow: 0 0 2px #000000 inset;*/
    overflow: auto;
    padding: 2px;
    position: relative;
}
.progress > .value {
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0;
    width: 0;
    /*border: 1px solid rgba(255,255,255,0.2);*/
    
    -moz-transition: width 700ms ease 50ms;
    -webkit-transition: width 700ms ease 50ms;
    -o-transition: width 700ms ease 50ms;
    -ms-transition: width 700ms ease 50ms;
    transition: width 700ms ease 50ms;
}
