@alert-color: #9E5B5A;
@error-color: #D66B55;
@success-color: #94B75F;
@warn-color: #F79204;
@info-color: #007BD3;
@invalid-color: #9B2D2D;


/* Default theme (gray blue) */
@base-color: #404040;
// Background color for viewport views and other boxes
@bg-color: #404040;
// Background color for overlays, inlays etc.
@alt-bg-color: #333;
// Text color to complement the background color
@text-color: #aaa;
// Text color to complement alternate background color
@alt-text-color: #bbb;
// Default selected background color
@selected-bg-color: darken(@bg-color, 10%); // #F49F3D; // #6CBEE4;
@selected-bg-color-alt: @selected-bg-color;
// Active background color, when an element becomes active i.e. :active class
@active-bg-color: darken(@selected-bg-color, 10%);
@active-text-color: #bbb;
// Default selected text color
@selected-text-color: #fff;

@primary-color: #E658A0;
