<!-- ====================================== Login View ====================================== -->
<article class="view  no-toolbar" id="loginView">
  <div class="content pad">
    <div class="logo-container text-center">
      <img class="logo" src="images/logo.svg" alt="Logo" />
      <span class="box pad-v">User Login</span>
    </div>
    <form id="loginForm">
      <input data-bind="value:username" type="text" id="username" value="username"
          placeholder="Username" />
      <input data-bind="value:password" type="password" id="password" placeholder="Password" 
          value="password" />
      <span id="loginButton" class="button primary">
        <i class="icon icon-unlock"></i> Login
      </span>
      <span id="selectServer" class="inline-box pad activable">
        <i class="icon icon-globe"></i>
      </span>
    </form>
  </div>
  <script src="js/login.js"></script>
</article>