<article class="view main" id="mainView">
  <div class="content no-select">
    <section>
      <header class="pad">Section A</header>
      <div class="chart-container">
        <div class="chart">
          <canvas id="sampleChart"></canvas>
        </div>
      </div>
    </section>
    <section id="recentSchedulesSection">
      <header class="pad">Section B</header>
      <div class="text-center">
        <span class="icon icon-ok-sign text-huge"></span>
      </div>
    </section>
  </div>
  <script src="js/main.js"></script>
</article>
