@font-face {
  font-family: 'mojo-icons';
  src: url('../font/mojo-icons.eot?33659773');
  src: url('../font/mojo-icons.eot?33659773#iefix') format('embedded-opentype'),
       url('../font/mojo-icons.woff?33659773') format('woff'),
       url('../font/mojo-icons.ttf?33659773') format('truetype'),
       url('../font/mojo-icons.svg?33659773#mojo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mojo-icons';
    src: url('../font/mojo-icons.svg?33659773#mojo-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mojo-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\e806'; } /* '' */
.icon-minus:before { content: '\e807'; } /* '' */
.icon-html5:before { content: '\e839'; } /* '' */
.icon-at:before { content: '\e82b'; } /* '' */
.icon-info:before { content: '\e832'; } /* '' */
.icon-home:before { content: '\e82e'; } /* '' */
.icon-hourglass:before { content: '\e81a'; } /* '' */
.icon-cloud-1:before { content: '\e85d'; } /* '' */
.icon-cloud:before { content: '\e823'; } /* '' */
.icon-star:before { content: '\e838'; } /* '' */
.icon-check:before { content: '\e812'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-flag:before { content: '\e843'; } /* '' */
.icon-attention:before { content: '\e833'; } /* '' */
.icon-flash:before { content: '\e84e'; } /* '' */
.icon-flash-1:before { content: '\e85e'; } /* '' */
.icon-flight:before { content: '\e85f'; } /* '' */
.icon-pencil:before { content: '\e852'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-asterisk:before { content: '\e82a'; } /* '' */
.icon-help:before { content: '\e842'; } /* '' */
.icon-forward:before { content: '\e867'; } /* '' */
.icon-cog-2:before { content: '\e82c'; } /* '' */
.icon-chart-pie:before { content: '\e824'; } /* '' */
.icon-lock-filled:before { content: '\e817'; } /* '' */
.icon-lock-open-filled:before { content: '\e818'; } /* '' */
.icon-map:before { content: '\e822'; } /* '' */
.icon-star-half:before { content: '\e846'; } /* '' */
.icon-help-circled:before { content: '\e80e'; } /* '' */
.icon-info-circled:before { content: '\e831'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */
.icon-tag:before { content: '\e81b'; } /* '' */
.icon-upload-cloud:before { content: '\e864'; } /* '' */
.icon-reply:before { content: '\e865'; } /* '' */
.icon-reply-all:before { content: '\e866'; } /* '' */
.icon-chat:before { content: '\e815'; } /* '' */
.icon-vcard:before { content: '\e869'; } /* '' */
.icon-address:before { content: '\e868'; } /* '' */
.icon-location:before { content: '\e81d'; } /* '' */
.icon-trash:before { content: '\e810'; } /* '' */
.icon-article-alt:before { content: '\e854'; } /* '' */
.icon-share:before { content: '\e829'; } /* '' */
.icon-basket:before { content: '\e84f'; } /* '' */
.icon-logout:before { content: '\e848'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-arrows-cw:before { content: '\e82f'; } /* '' */
.icon-down-open-mini:before { content: '\e80c'; } /* '' */
.icon-up-open-mini:before { content: '\e80b'; } /* '' */
.icon-inbox:before { content: '\e828'; } /* '' */
.icon-paper-plane:before { content: '\e816'; } /* '' */
.icon-gauge:before { content: '\e84d'; } /* '' */
.icon-link:before { content: '\e83a'; } /* '' */
.icon-check-empty:before { content: '\e813'; } /* '' */
.icon-certificate:before { content: '\e811'; } /* '' */
.icon-filter:before { content: '\e859'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-sort:before { content: '\e863'; } /* '' */
.icon-mail-alt:before { content: '\e853'; } /* '' */
.icon-coffee:before { content: '\e841'; } /* '' */
.icon-beer:before { content: '\e858'; } /* '' */
.icon-smile:before { content: '\e860'; } /* '' */
.icon-frown:before { content: '\e861'; } /* '' */
.icon-meh:before { content: '\e862'; } /* '' */
.icon-direction:before { content: '\e81e'; } /* '' */
.icon-ellipsis:before { content: '\e845'; } /* '' */
.icon-ellipsis-vert:before { content: '\e844'; } /* '' */
.icon-ticket:before { content: '\e857'; } /* '' */
.icon-euro:before { content: '\e83d'; } /* '' */
.icon-pound:before { content: '\e83e'; } /* '' */
.icon-dollar:before { content: '\e83c'; } /* '' */
.icon-rupee:before { content: '\e83b'; } /* '' */
.icon-yen:before { content: '\e83f'; } /* '' */
.icon-doc-text-inv:before { content: '\e855'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e86a'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e86b'; } /* '' */
.icon-sun:before { content: '\e85c'; } /* '' */
.icon-bug:before { content: '\e85a'; } /* '' */
.icon-github:before { content: '\e84c'; } /* '' */
.icon-vimeo:before { content: '\e84b'; } /* '' */
.icon-twitter:before { content: '\e834'; } /* '' */
.icon-facebook:before { content: '\e835'; } /* '' */
.icon-gplus:before { content: '\e836'; } /* '' */
.icon-linkedin:before { content: '\e837'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-globe-1:before { content: '\e85b'; } /* '' */
.icon-globe:before { content: '\e849'; } /* '' */
.icon-gift:before { content: '\e856'; } /* '' */
.icon-user:before { content: '\e847'; } /* '' */
.icon-alert:before { content: '\e80d'; } /* '' */
.icon-credit-card:before { content: '\e84a'; } /* '' */
.icon-credit-card-1:before { content: '\e86c'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-chart-line:before { content: '\e826'; } /* '' */
.icon-chart-bar:before { content: '\e825'; } /* '' */
.icon-pin:before { content: '\e830'; } /* '' */
.icon-attach:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e814'; } /* '' */
.icon-megaphone:before { content: '\e81f'; } /* '' */
.icon-upload:before { content: '\e851'; } /* '' */
.icon-download:before { content: '\e850'; } /* '' */
.icon-mobile:before { content: '\e82d'; } /* '' */
.icon-search:before { content: '\e820'; } /* '' */
.icon-key:before { content: '\e840'; } /* '' */
.icon-bookmark:before { content: '\e86d'; } /* '' */
.icon-chart-area:before { content: '\e827'; } /* '' */
.icon-clock:before { content: '\e819'; } /* '' */